*{
    margin: 0%;
    padding: 0%;
background-color: black;
color: #ffffff;
   
}


.conteudo{
    
  display: grid;
  grid-template-columns: 10% 20% 60% 10%;
  justify-content: center;
}
.menu-site{
    display: grid;
    grid-template-columns : 10% 20% 60% 10%;
    grid-template-areas:
     "menu menu menu menu "
    "lado principal principal principal"
     " rodapé rodapé rodapé rodapé ";
}


.menu{
    height: 10vh;
    background-color: rgb(212, 25, 25);
    grid-area: menu;
}
.lado{
    height: 20vh;
    background-color: rgb(23, 72, 233);
    grid-area: lado;
}
.principal{
    height: 60vh;
    background-color: rgb(236, 20, 189);
    grid-area: principal;
}
.rodapé{
    height: 10vh;
    background-color: rgb(75, 75, 75);
}
